.sidenav {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 60px;

  position: fixed;
  z-index: 10;
  top: 0px;
  height: 100vh;
  padding: 0;
  overflow-y: scroll;
  padding-bottom: 2rem;
  background: var(--dark-blue);
  border-right: solid 1px white;
  animation: forwards;
  animation-duration: 3s;
  background-color: rgb(18, 203, 203);
  /* position: fixed;
  height: 100%;
  width: 100px;
  z-index: 10;
  top: 3.4em;
  overflow-x: hidden;
  padding-top: 10px;
  transition: 0.5s; */
}
