.home {
  width: 100%;
  max-width: 100vw;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.search-bar {
  display: flex;
  margin-left: 150px;
  flex-direction: row;
  align-items: center;
  flex: 1;
  margin-right: 40px;
}

.search-bar input {
  height: 40px;
  padding: 0 15px;
  border-radius: 8px 0 0 8px;
  border: solid 1px #e4e4e4;
  flex: 1;
  font-size: 16px;
}
